/* CSS for portfolio.html */

body {
    font-family: Permanent Marker;
    background: url(https://images.unsplash.com/photo-1509624776920-0fac24a9dfda?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=42ec196ddd2f51e9dbb7bfe0adcbaa3b&auto=format&fit=crop&w=1050&q=80);
    background-position: center;
    background-size: cover;
 }


/* Navigation */
.navbar-inverse .navbar-nav>li>a {
    color: white;
}


/* Header */
header {
    text-align: right;
    padding-top: 40px;
}

hr {
    border-top: 3px solid #7d97ad;
    border-bottom: 3px solid rgba(0,0,0,0.3);
    max-width: 90%;
}

.logo {
    float: left;
    padding: 10px 0 0 10px;

}


/* Content */
h3 {
    text-align: center;
    text-transform: uppercase;
}

p {
    font-size: 1.3em;
}

img {
    display: block;
    margin: 0 auto;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

